<div class="container mt-4">
  <form (ngSubmit)="onFormSubmit(seasonInput.value, roundInput.value)">
    <div class="row">
      <div class="col-md-3">
        <input 
            type="number" 
            class="form-control" 
            placeholder="Season" 
            #seasonInput 
            [value]="season"
            min="1950"
            max="2023"/>
      </div>
      <div class="col-md-3">
        <input 
            type="number" 
            class="form-control" 
            placeholder="Round" 
            #roundInput 
            [value]="round" 
            min="0"
            max="3"
            />
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn" style="background-color: #E0E0E0;">Load Standings</button>
      </div>
  <div *ngIf="qualifyingResults.length > 0">
    <h1 class="mb-4">Qualifying Results ({{ season }}, Round {{ round }})</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Constructor</th>
          <th>Q1</th>
          <th>Q2</th>
          <th>Q3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of qualifyingResults">
          <td>{{ result.position }}</td>
          <td>{{ result.Driver.givenName }} {{ result.Driver.familyName }}</td>
          <td>{{ result.Constructor.name }}</td>
          <td>{{ result.Q1 }}</td>
          <td>{{ result.Q2 }}</td>
          <td>{{ result.Q3 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
