<div class="container-fluid" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-left: 15%; padding-right: 15%;">
    <h1 class="navbar-brand" href="#">F1 Stats</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/circuit-list">Circuit List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/driver-list">Driver List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/season-races">Season Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/season-drivers">Season Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/race-standings/${season}/${round}">
            Race Standings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/race-qualifying/${season}/${round}">
            Race Qualifying
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/constructor-list">Constructor List</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/race-status-counts/${season}/${round}"
          >
            Race Status Counts
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
