<div class="container mt-4">
  <form (ngSubmit)="onFormSubmit(seasonInput.value, roundInput.value)" >
    <div class="row">
      <div class="col-md-3">
        <input 
            type="number" 
            class="form-control" 
            placeholder="Season" 
            #seasonInput 
            [value]="season"
            min="2018"
            max="2023"/>
      </div>
      <div class="col-md-3">
        <input 
            type="number" 
            class="form-control" 
            placeholder="Round" 
            #roundInput 
            [value]="round" 
            min="0"
            max="3"
            />
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn" style="background-color: #F6F3EE;">
          Load Standings
        </button>
      </div>
    </div>
  </form>
    <h1 class="mb-4">Race Status Counts ({{ season }}, Round {{ round }})</h1>
    <ul class="list-group">
      <li class="list-group-item">Finished: {{ statusCounts.Finished }}</li>
      <li class="list-group-item">Accident: {{ statusCounts.Accident }}</li>
      <li class="list-group-item">+1 Lap: {{ statusCounts.PlusOneLap }}</li>
    </ul>
  </div>
  
